extends base
block content
    header
      h1 BASICSS
      p 
        | A light, customizable
        br
        | &amp; versatile CSS framework
    include html5.html
    footer
      small
        p © 2017 || bastosh
